In [1]:
import pandas as pd

# Path to your SIPRI file
file_path = "data/SIPRI-Milex-data-1949-2024_2.xlsx"

# Load and skip the first 5 rows (which are metadata)
df = pd.read_excel(file_path, sheet_name="Constant (2023) US$", skiprows=5)

# Check structure
print(df.columns)
print(df.head())

Index([   'Country', 'Unnamed: 1',      'Notes',         1949,         1950,
               1951,         1952,         1953,         1954,         1955,
               1956,         1957,         1958,         1959,         1960,
               1961,         1962,         1963,         1964,         1965,
               1966,         1967,         1968,         1969,         1970,
               1971,         1972,         1973,         1974,         1975,
               1976,         1977,         1978,         1979,         1980,
               1981,         1982,         1983,         1984,         1985,
               1986,         1987,         1988,         1989,         1990,
               1991,         1992,         1993,         1994,         1995,
               1996,         1997,         1998,         1999,         2000,
               2001,         2002,         2003,         2004,         2005,
               2006,         2007,         2008,         2009,         2010,
               2011,         2012,         2013,         2014,         2015,
               2016,         2017,         2018,         2019,         2020,
               2021,         2022,         2023,         2024],
      dtype='object')
        Country  Unnamed: 1  Notes 1949 1950 1951 1952 1953 1954 1955  ...  \
0           NaN         NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1        Africa         NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
2  North Africa         NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
3       Algeria         NaN     §4  ...  ...  ...  ...  ...  ...  ...  ...
4         Libya         NaN  ‡§¶16  ...  ...  ...  ...  ...  ...  ...  ...

           2015          2016         2017          2018          2019  \
0           NaN           NaN          NaN           NaN           NaN
1           NaN           NaN          NaN           NaN           NaN
2           NaN           NaN          NaN           NaN           NaN
3  12061.301802  12097.301651  11456.74193  10987.573613  11853.728802
4           ...           ...          ...           ...           ...

           2020         2021         2022          2023          2024
0           NaN          NaN          NaN           NaN           NaN
1           NaN          NaN          NaN           NaN           NaN
2           NaN          NaN          NaN           NaN           NaN
3  11577.302066  10794.20102  10441.08481  18263.967968  20423.216125
4           ...          ...  1254.746073   1573.682777           ...

[5 rows x 79 columns]

In [2]:
# Drop rows where Country is NaN or is a region (like "Africa")
df_clean = df.dropna(subset=["Country"])

# Optionally remove regional aggregates
regions = ['Africa', 'North Africa', 'Sub-Saharan Africa', 'Americas', 'Asia and Oceania', 'Europe', 
           'Middle East', 'NATO', 'EU', 'World', 'Other Europe']
df_clean = df_clean[~df_clean["Country"].isin(regions)]

# Drop unnecessary columns
df_clean = df_clean.drop(columns=["Unnamed: 1", "Notes"], errors='ignore')

# Focus on NATO countries only
nato_countries = [
    "United States", "Canada", "United Kingdom", "France", "Germany", "Italy", "Spain", 
    "Norway", "Denmark", "Netherlands", "Belgium", "Portugal", "Greece", "Turkey",
    "Poland", "Hungary", "Czech Republic", "Slovakia", "Slovenia", "Croatia",
    "Bulgaria", "Romania", "Estonia", "Latvia", "Lithuania", "Albania", "Montenegro",
    "North Macedonia", "Iceland", "Luxembourg"
]
df_nato = df_clean[df_clean["Country"].isin(nato_countries)]

# Convert year columns to numeric
df_nato = df_nato.set_index("Country")
df_nato = df_nato.apply(pd.to_numeric, errors='coerce')